// Short citations
#block-rsc-cite-short,
.node-rsc-cite-short {
  @include adjust-font-size-to($h3-font-size, 1, $base-font-size);

  text-align: center;
  padding: rhythm(1) $zen-gutter-width/2;
  .field-name-rscc-body {
    @include quote-text;
  }
  .field-name-rscc-author-authors {
    @include quote-author;
  }
  .field-name-rscc-author-authors:before {
    content: "\0000A0 \002014 \0000A0";
  }

  // Put the comments back to left-alignment
  section {
    text-align: initial;
  }

}
