.browse-taxonomy {
  @include leader(1);
  @include trailer(1);
}

.browse-taxonomy.browse-taxonomy-header {
  @media all and (max-width: ($t10 - 1px)) {
    @include cat-browse-with-header(1);
  }
  @media all and (min-width: $t10) and (max-width: ($t8 - 1px)) {
    @include cat-browse-with-header(2);
  }
  @media all and (min-width: $t8) and (max-width: ($t6 - 1px)) {
    @include cat-browse-with-header(1);
  }
  @media all and (min-width: $t6) {
    @include cat-browse-with-header(2);
  }
}

.browse-taxonomy.browse-taxonomy-no-header {
  @media all and (max-width: ($t10 - 1px)) {
    @include cat-browse-without-header(1);
  }
  @media all and (min-width: $t10) and (max-width: ($t8 - 1px)) {
    @include cat-browse-without-header(2);
  }
  @media all and (min-width: $t8) and (max-width: ($t6 - 1px)) {
    @include cat-browse-without-header(1);
  }
  @media all and (min-width: $t6) {
    @include cat-browse-without-header(2);
  }
}
