// Flexslider
#block-views-rsc-slider-view-block {
  display: none; // this will be overridden by JS
  
  // maintain vertical rhythm of page:
  height: rhythm(12);
  margin-bottom: rhythm(1)*-1;
  
}

.flexslider {
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  margin-bottom: rhythm(1);
  ul.slides {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
  .flex-control-nav {
    bottom: - rhythm(1);
    li {
      vertical-align: bottom;
    }
  }
  .flex-direction-nav {
    line-height: normal;
  }
  img {
    border-radius: 2px;
    border: 1px solid $bluegrey2;
  }
}

// slider node pages
.node-type-rsc-slider-content #page-title-area {
  display: none;
}
