#header {
  padding: 0;
  
  /* Wrapping link for logo. */
  .header__logo {
    margin: 0;
    padding: 0;
  }
  
  /* Logo image. */
  .header__logo-image {
    width: auto;
    max-width: 90%; // don't touch the sides
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* The name of the website. */
  .header__site-name {
    display: none;
  }
  
  /* Wrapper for any blocks placed in the header region. */
  .header__region {

    padding-left: $zen-gutter-width/2;
    padding-right: $zen-gutter-width/2;

    display: grid;
    align-items: center;
    grid-column-gap: $zen-gutter-width/2;

    .block {
      margin: 0;
    }

    .block-menu {
      text-align: center;
      a:link,
      a:visited {
        color: $grey5;
      }
      a:hover,
      a:focus {
        color: $blue6;
      }
    }
    
    #search-block-form {
      > div {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column-gap: $zen-gutter-width/2;
        align-items: center;
        input[type="text"] {
          width: 100%;
        }
      }
    }

    // Put the search bar next to the menu on large screens.
    @media all and (min-width: $t4) {
      grid-template-columns: auto minmax(auto, 40em);
      .block-menu {
        text-align: left;
      }
    }

  }
}

// Specifically for the header on the front page and search pages:
.front,
.page-search {
  #header {
    .header__region {
      grid-template-columns: none;
      padding-left: 0;
      padding-right: 0;
      .block-menu {
        text-align: center;
        float: none;
        padding-left: 0;
      }
      #block-search-form {
        background-color: $blue6;
        padding-left:  $zen-gutter-width/2;
        padding-right: $zen-gutter-width/2;
      }
    }
  }
}
