$bluegrey2: #DFE6EC;
$bluegrey2_75: rgba(223,230,236,0.75);
$bluegrey4: #BFCCD9;

$grey9: #303030;    // almost black
$grey7: #404040;    // off-black
$grey5: #C0C0C0;    // light grey
$grey2: #F2F2F2;    // very light grey

$offwhite: #EBE6FF;

$blue8: #001a33; // A darker version of the main blue.
$blue6: #003466; // The main blue for the site.
$blue6_75: rgba(0,52,102,0.75); // A slightly transparent version of the main blue.

$orange6: #FF5208;

$color_text: $grey7;
$color_side: $grey9;
$color_bg:   $grey2;
