.rsc-gig-progress {
  min-width: 12em;
  text-align: center;
  font-weight: bold;
  @include adjust-font-size-to($h1-font-size, 2, $base-font-size);
}

.rsc-gig-progress.marked {
  background-color: $offwhite;
  .rsc-gig-progress-bar {
    background-color: $blue6;
  }
  &.passed {
    color: white;
    .rsc-gig-progress-bar::after {
      content: " 🎉 😁";
      font-family: Segoe UI Emoji;
    }
  }
  &.failed {
    color: white;
    .rsc-gig-progress-bar::after {
      content: " 📝 🤷";
      font-family: Segoe UI Emoji;
    }
  }
}

.rsc-gig-progress.unmarked {
  .rsc-gig-progress-bar {
    color: white;
    $progress_color_1: $blue8;
    $progress_color_2: $blue6;
    background-image: linear-gradient(
        45deg,
        $progress_color_1 25%,
        $progress_color_2 25%,
        $progress_color_2 50%,
        $progress_color_1 50%,
        $progress_color_1 75%,
        $progress_color_2 75%,
        $progress_color_2
    );
    background-size: 3em 3em;
    animation: progress-bar-stripes 3s linear infinite;
  }
}

// Use different colors in the page title area.
#page-title-area {
  .rsc-gig-progress.marked {
    background-color: $blue8;
    .rsc-gig-progress-bar {
      background-color: white;
      color: $blue6;
    }
  }
}

@keyframes progress-bar-stripes {
  from  { background-position: 3em 0; }
  to    { background-position: 0 0; }
}

table.rsc-gig {
  width: 100%;
  text-align: center;
}

article.node-rsc-gig-certificate {
  // This minimum width actually depends on what images are used for the signature and stamp.
  min-width: 240px;

  border-style: solid;
  border-color: $blue6;
  border-width: rhythm(1) $indent-amount;
  text-align: center;
  * {
    display: block;
  }
  p {
    @include adjust-font-size-to($h2-font-size, 2, $base-font-size);
    max-width: none;
  }
  span.name, span.course {
    @include adjust-font-size-to($h1-font-size, 2, $h2-font-size);
    display: block;
  }
  img {
    margin: 0 auto;
  }
  .signatures {
    display: grid;
    grid-auto-flow: column;
    img.signature {
      @include trailing-border(3px, 0.5);
      margin-bottom: rhythm(0.5);
      height: rhythm(3);
    }
    p.signatory {
      margin: 0;
    }
    .stamp {
      height: rhythm(3);
      img {
        height: rhythm(9);
        position: relative;
        bottom: rhythm(2);
      }
    }
  }
}
