/**
 *   User profile
 */
.profile {
  .face_name {
    overflow: hidden;
    margin: 0;
    @include decreasing-padding-left(5%);
    
    .user-picture {
      margin: 0 $zen-gutter-width 0 0;
      float: left;
      img {
        max-width: 150px;
      }
    }
    p {
      margin: 0;
      @include adjust-font-size-to( $h2-font-size );
    }
  }
  dl.rsc-gig {
    dt, dd {
      width: auto;
      display: block;
    }
  }
}

/**
 *   User picture anywhere
 */
.user-picture img {
  border: 1px solid $bluegrey2;
}

/**
 *   User edit page
 */
#user-profile-form {
  .fieldset-wrapper > .form-item {
    margin: 0;
  }
  fieldset {
    margin: rhythm(1) 0;
  }
}

/**
 *   Link back to preaching library from user page
 */
#back_to_pl {
  
  margin: rhythm(0.5) $indent-amount-small;
  display: inline-block;
  
  a:link,
  a:visited {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #839565;
    border-radius: $indent-amount-small;
    padding: rhythm(0.5) $indent-amount-small;
  }
  
  a:hover,
  a:focus {
    background-color: white;
    color: #839565;
  }
}

/**
 * Any page under the /user URL, which includes the login, register and password reset forms.
 */
.page-user {
  form {
    max-width: 40em;
  }
  .field-type-text input, .form-type-password input, select {
    width: 100%;
  }
}
